/* 769 Largura Computador */
/* 768 Largura SmartPhone */

:root {
  --primary-color: #000e40;
  --secondary-color: #e9e9e9;
  --border-color: #ced4da;
}

table {
  border: 1px solid #ced4da;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url(/layout/images/config/background.avif) !important;
  background-position: center !important;
  background-size: 110vw 100vw !important;
  background-repeat: no-repeat !important;
}

@media only screen and (min-width: 769px) {
  header {
    background-color: #000e40;
    width: 100vw;
    height: 60px;
  }

  #header {}

  #logo-header {
    float: left;
    width: 80px;
    position: relative;
    left: 25px;
  }

  #logo-header a {
    width: 100%;
    height: 100%;
    display: table;
  }

  #logo-header a img {
    width: 100%;
  }

  #menu-header {
    padding: 10px;
    float: right;
  }

  #menu-header a {
    margin: 0px 10px;
    font-size: 35px;
    color: white !important;
  }

  #menu-footer {
    display: none;
  }

  main {
    min-height: 500px;
  }

  footer {
    background-color: var(--secondary-color);
    margin: auto;
    margin: auto;
    width: calc(80vw - 30px);
    padding: 15px;
  }


  #user_panel section:nth-child(1) {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background-color: var(--primary-color);
    width: 100vw;
    height: 60px;
  }

  #header {}

  #logo-header {
    float: left;
    width: 80px;
    position: relative;
    left: 25px;
  }

  #logo-header a {
    width: 100%;
    height: 100%;
    display: table;
  }

  #logo-header a img {
    width: 100%;
  }

  #menu-header {
    display: none;
  }

  #menu-footer {
    background-color: var(--primary-color);
    width: 100vw;
    height: 60px;
    position: fixed;
    bottom: 0px;
    z-index: 2;
  }

  #menu-footer {
    font-size: 45px;
    display: flex;
    justify-content: space-around;
  }

  #menu-footer a {
    margin: 0 calc(5vw / 5);
    color: white !important;
  }

  #menu-footer a:nth-child(3) {
    position: relative;
    bottom: 35px;
  }

  .menu-option-center {
    border: 7px solid !important;
    padding: 10px !important;
    border-radius: 53px !important;
    background-color: var(--primary-color);
  }

  main {
    min-height: 800px;
  }

  footer {
    background-color: var(--secondary-color);
    margin: auto;
    height: 150px;
    margin: auto;
    width: calc(80vw - 30px);
    padding: 15px;
  }

  .none {
    display: none;
  }

  #user_panel section:nth-child(1) {
    margin-bottom: 20px;
  }

  #restaurant-info section:not(:last-child) {
    margin-bottom: 10px;
  }
}


main {
  background-color: var(--secondary-color);
  margin: auto;
  width: calc(80vw - 30px);
  padding: 15px;
}



/* MENU.PHP */

#menu-nav {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  overflow: auto;
  padding: 10px;
}

#menu-nav li {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  margin-right: 2vw;
  padding: 10px;
}

#menu-nav li:hover {
  cursor: pointer;
  border-bottom: 3px solid var(--primary-color);
}

#menu-nav li svg {
  margin-right: 10px;
  font-size: 25px;
  color: var(--primary-color);
}

.nav-select {
  border-bottom: 3px solid var(--primary-color);
}

#menu-list {
  display: flex;
  flex-wrap: wrap;
  /* Permite que os itens quebrem para a próxima linha conforme necessário */
  /* justify-content: space-between; */
  justify-content: space-around;
  /* Distribui os itens uniformemente ao longo do eixo principal */
}

.card {
  width: calc(20% - 10px);
  /* Defina a largura de cada card, levando em conta o espaço entre eles */
  margin-bottom: 20px;
  /* Adiciona um espaço entre as linhas de cards */
}


/* COMPLEMENT.PHP */

.complement-option {
  display: flex;
  align-content: center;
  align-items: center;
}

.complement-option input {
  margin-right: 5px;
}

.complement-description h6 {
  margin: 0px;
  padding: 0px;
}

.complement-description {
  width: 100% !important;
}

legend {
  text-align: center;
}

.list-quantity {
  display: inline-flex !important;
}

.list-group-item .decrease {
  width: 35%;
  margin-right: 10px;
}

.list-group-item .increase {
  width: 35%;
}

.list-group-item .quantity {
  width: 30%;
  text-align: center;
  margin-right: 10px !important;
}


/* CART.PHP */

.cart-product {
  width: 15vw;
}

.cart-product .product-photo {
  width: 15vw;
}

.cart-product .product-photo img {
  width: 100%;
  height: 100%;
}

.cart-product .product-name {
  text-align: center;
}


.list-quantity {
  display: inline-flex !important;
}

div .decrease {
  width: 35%;
  margin-right: 10px;
}

div .increase {
  width: 35%;
}

div .quantity {
  width: 30%;
  text-align: center;
  margin-right: 10px !important;
}

.v {
  float: right;
}

#sizes {
  background-color: white;
  padding: 5px;
  border: 1px solid var(--border-color);
}

.size-select {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

#questions {
  background-color: white;
  padding: 5px;
  border: 1px solid var(--border-color);
}


.question-select {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

#complements {
  background-color: white;
  padding: 5px;
  border: 1px solid var(--border-color);
}


.complement-select {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

#additional {
  background-color: white;
  padding: 5px;
  border: 1px solid var(--border-color);
}


.additional-select {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

#obs {
  background-color: white;
  padding: 5px;
  border: 1px solid var(--border-color);
}


/* MYPANEL.PHP */

#user_panel {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

#user_photo {
  flex: 1 0 200px; /* Largura flexível com um tamanho mínimo de 200 pixels */
  height: 250px;
  margin-right: 20px; /* Espaço entre as seções */
}

#user_photo img {
  width: 100%;
  height: 100%;
}
#user_infos {
  flex: 1 0 calc(100% - 400px); /* Largura flexível com base no espaço restante */
}


/* INDEX.PHP */
#rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#general-rating {
  text-align: center;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 5px solid black;
}

#general-rating p, #general-rating label {
  margin: 0px;
}

#general-rating label {
  font-size: 20px;
  font-weight: bold;
}

#stars {
  display: inline-flex;
  float: right;
}

.star {
  width: 20px;
}
.star img {
  width: 100%;
  height: 100%;
}

#users-rating {
  overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a largura do contêiner */
  position: relative; /* Define o contexto de posicionamento para os pseudoelementos */
}
.rating-wrapper {
  display: flex;
  flex-wrap: nowrap; /* Evita que os elementos quebrem para a próxima linha */
  overflow-x: hidden; /* Oculta a barra de rolagem nativa */
}

.rating-container {
  flex: 0 0 auto; /* Define a largura automática dos elementos */
  margin-right: 20px; /* Adiciona um espaço entre os elementos */
}

.scroll-left,
.scroll-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px; /* Largura das setas */
  background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo das setas */
  z-index: 1; /* Coloca as setas sobre o conteúdo */
  cursor: pointer; /* Altera o cursor ao passar sobre as setas */
}

.scroll-left {
  left: 0; /* Define a seta esquerda */
}

.scroll-right {
  right: 0; /* Define a seta direita */
}

#users-rating .rating-wrapper .rating-container {
  border: 1px solid var(--border-color);
  padding: 5px;
  width: 15em;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px white;
}

#users-rating .rating-wrapper .rating-container .user-photo {
  width: 3em;
  border-radius: 50%;
  overflow: hidden;
  height: 3em;
  margin: auto;
}

#users-rating .rating-wrapper .rating-container .user-photo img {
  width: 100%;

}

#users-rating .rating-wrapper .rating-container .user-comment {
  background-color: white;
  border-radius: 5px;
}


#address-restaurant {
  background-image: url(/layout/images/model/map.png);
  background-color: var(--primary-color);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  height: 400px;
  margin: auto;
  width: calc(80vw - 30px);
  padding: 15px;
}

#restaurant-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#restaurant-info section:not(:last-child) {
  margin-right: 10px;
}

#status-info {
  display: flex;
  align-items: center;
}

#three-info {
}

#three-info p {
  margin: 0px;
  font-size: 0.9em;
}

#status {
  cursor: pointer;
}

#status-icon {
  width: 3em;
  margin-right: 5px;
  background-color: red;
  height: 3em;
  border: 2px solid black;
  border-radius: 50%;
}

#week-horary {
  display: none;
}

#week-horary p {
  margin: 0px;
}

#week-horary p label {
  float: right;
  margin-bottom: 0px !important;
  display: block !important;
}

#time-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#time-icon {
  margin-right: 10px;
}
#time-icon svg {
  font-size: 3em;
}

#pays {
  cursor: pointer;
}

#pays-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#pays-icon {
  margin-right: 10px;
}
#pays-icon svg {
  font-size: 3em;
}

#pays-type {
  display: none;
}